{% extends 'nav.html' %}
{% block sidebar %}
            <li class="nav-item">
              <a class="nav-link" href="/">
                <i class="fas fa-fw fa-home"></i>
                <span>Home</span>
              </a>
            </li>

              <li class="nav-item">
              <a class="nav-link" href="/dataset">
                <i class="fas fa-fw fa-envelope"></i>
                <span>Email Dataset</span>
              </a>
            </li>

            <li class="nav-item active">
              <a class="nav-link" href="/naivebayes">
                <i class="fa fa-cogs"></i>
                <span>Training and Testing</span>
              </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="../../charts">
                <i class="fas fa-fw fa-chart-area"></i>
                 <span>Charts</span></a>
            </li>

{% endblock %}

{% block content %}


    <div id="content-wrapper">

        <div class="container-fluid">
{#            <a href='' class="btn btn-primary btn-circle"style="float:left"><i class="fa fa-book"></i> Load Dictionary</a>#}
            <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="/">semantic_naive-bayes</a>
            </li>
            <li class="breadcrumb-item active">Naive Bayes Classifier</li>
              </ol>

            <div class="container">
{#                <div class="card mb-2">#}
{#                    <div class="card-header">#}
{#                        <i class="fas fa-pen"></i>#}
{#                      Input text</div>#}
{#                    <div class="card-body">#}
{#                            <form method="POST" action="" id="myForm">#}
{##}
{##}
{#                                <label >Enter Your Text Below</label>#}
{#                            <textarea class="form-control" rows="3" cols="2" name="rawtext"></textarea>#}
{##}
{#                            <input type="submit" onclick="" value="Submit" class="btn btn-primary ">#}
{#                            <input type="reset" onclick="" value="Clear" class="btn btn-outline-dark">#}
{##}
{#                            <a href="" class="btn btn-danger" > Reset</a>#}
{##}
{#                            </form>#}
{#                    </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}

                <div class="card card-login mx-auto mb-5">
                        <div class="card-header">
                            <i class="fas fa-database"></i> Train Data
                        </div>


                        <div class="card-body">
                        <form method="POST" action="{{ url_for('bp_nb') }}">
                            <div class="form-group">
                                                <label>No. of Train Data</label>
                                                <select name="select_train" class="form-control">
                                                    <option value=10>10</option>
                                                    <option value=50>50</option>
                                                    <option value=100>100</option>
                                                    <option value=300>*300</option>
                                                    <option value=500>500</option>
                                                    <option value=750>*750</option>
                                                    <option value=1000>1000</option>
                                                    <option value=1500>*1500</option>
                                                    <option value=2000>*2000</option>
                                                </select>


                            <button type="submit" class="btn btn-primary" onclick="return loading();"><i class="fa fa-cogs"></i> Train</button>
                            </div>
                        </form>
                        </div>

                        <div class="card-footer"></div>
                </div>


                <div class="card mb-3">

                     <div class="card-header bg-info">
                        <i class="fas fa-comments"></i>
                      Naive Bayes</div>
                    <div class="card-body">
                        Accuracy:
                    <h1>{{  accnb }} | {{ accnb * 100 }}%</h1>

                                                  <div class="table-responsive">
                                                    <table class="table table-striped table-dark" id="dataTable" width="100%" cellspacing="0">
                                                      <thead>
                                                        <tr>
                                                          <th>Most Informative Features</th>

                                                        </tr>
                                                      </thead>
                                                      <tfoot>

                                                      </tfoot>
                                                      <tbody>
                                                        {% for i in range(anb|length) %}
                                                      <tr>
                                                          <td>{{ anb[i] }}</td>
                                                      </tr>
                                                        {% endfor %}
                                                      </tbody>
                                                    </table>
                                                  </div>
                    </div>
                <div class="card-footer"><p><i class="fa fa-clock"></i> Runtime: <span style="color:#0091EA;">{{ t }} </span></p></div>
                </div>

                <div class="card mb-3">
                    <div class="card-header bg-warning">
                       <i class="fas fa-book-open"></i> <i class="fas fa-comments"></i>
                      Semantic Naive Bayes</div>
                    <div class="card-body">
                        Accuracy:
                    <h1>{{  accsnb }} | {{ accsnb * 100 }}%</h1>

                                                  <div class="table-responsive">
                                                    <table class="display table table-striped table-dark" id="dataTable2" width="100%" cellspacing="0">
                                                      <thead>
                                                        <tr>
                                                          <th>Most Informative Features</th>

                                                        </tr>
                                                      </thead>
                                                      <tfoot>

                                                      </tfoot>
                                                      <tbody>
                                                        {% for i in range(asnb|length) %}
                                                      <tr>
                                                          <td>{{ asnb[i] }}</td>
                                                      </tr>
                                                        {% endfor %}
                                                      </tbody>
                                                    </table>
                                                  </div>
                    </div>
                    <div class="card-footer"><p><i class="fa fa-clock"></i> Runtime: <span style="color:#0091EA;">{{ t2 }} </span></p></div>
                    </div>
        <div class="card mb-3">
            <div class="card-header bg-info">
                <i class="fas fa-list-ol"></i>
              Test Data Examples - Naive Bayes</div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="display table table-bordered" id="dataTable3" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>No.</th>

                      <th>Message</th>
                      <th>Sentiment</th>
                    </tr>
                  </thead>
                  <tfoot>

                  </tfoot>
                  <tbody>
                  {% for i in range(0,10) %}
                      <tr>

                      <td>{{ i+1 }}</td>
                        <td>{{ df['content'][i+30] }}</td>
                          {#<{% if sentiment[i]>0 %}
                              <td>Positive</td>
                          {% elif sentiment[i]<0%}
                              <td>Negative</td>
                          {% else %}
                              <td>Neutral</td>
                          {% endif %}#}
                    <td>  {{ dfcol[i] }}</td>

                    </tr>
                  {% endfor %}

                  </tbody>
                </table>
              </div>
            </div>
{#            <div class="card-footer small text-muted">Updated: {{ dt }}</div>#}
          </div>


        <div class="card mb-3">
            <div class="card-header bg-warning">
                <i class="fas fa-list-ol"></i>
              Test Data Examples - Semantic Naive Bayes</div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="display table table-bordered" id="dataTable3" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>No.</th>

                      <th>Message</th>
                      <th>Sentiment</th>
                    </tr>
                  </thead>
                  <tfoot>

                  </tfoot>
                  <tbody>
                  {% for i in range(0,10) %}
                      <tr>

                      <td>{{ i+1 }}</td>
                        <td>{{ df['content'][i+30] }}</td>
                          {#<{% if sentiment[i]>0 %}
                              <td>Positive</td>
                          {% elif sentiment[i]<0%}
                              <td>Negative</td>
                          {% else %}
                              <td>Neutral</td>
                          {% endif %}#}
                    <td>  {{ dfcol2[i] }}</td>

                    </tr>
                  {% endfor %}

                  </tbody>
                </table>
              </div>
            </div>
{#            <div class="card-footer small text-muted">Updated: {{ dt }}</div>#}
          </div>

        </div>

        </div>
    </div>

{% endblock %}

{% block scripts %}
{{ super() }}

    <script>
        $(document).ready(function() {
            $('table.display').dataTable();
}       );

    </script>

    <script type="text/javascript">// <![CDATA[
        function loading(){
            alert("Dictionary will load. This may take a while.");
        }
// ]]></script>
{% endblock %}